*{
    margin: 0;
    padding: 0;
}

#wrapper{
    background-color: white;
    display: block;
    font-family: 'Economica', sans-serif;
    

}
    h1, h2{
        font-family: 'IM Fell English SC', serif;
        letter-spacing: 3px;
    }
    .title{
        font-family: 'IM Fell English SC', serif;
    }
    
    #header p{
        display: inline-block;
        vertical-align: top;
    }

    #others, #add{
        background-color:rgb(190, 227, 243);
    }

    

    a{
        text-decoration: none;
        color: rgb(105, 55, 54);
        
    }
    a:hover{
        color: orangered;
    }
    .messages{
        width: 420px;
        margin: auto;
        display: block;
        color: rgb(255, 60, 0);
    }
    input[type=text], input[type=password], textarea{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
#thisBook{
    text-align: center;
}

@media only screen and (max-width: 425px) {
    #wrapper{
        width: 425px;
        height: 574px;
    }
    #header{
        background-color: rgb(196, 182, 146);
        width: 425px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
    .reg_log{
        width: 420px;
        margin: auto;
        padding: 5px;
        background-color:rgb(190, 227, 243);
    }
    .reg_log h2{
        padding: 20px 0px 5px 10px;
    }
    form{
        width: 397px;
        margin: auto;
    }
    #recent{
        width: 100%;
        padding-left: 5px;
    }
    #others{
        width: 100%;
        margin-top: 15px;
        padding-left: 5px;
    }
    hr{
        width: 95%;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    h2{
        font-size: 1.2em;
    }
    #add{
        width: 425px;
        padding: 5px;
    }
    #user{
        width: 425px;
        padding-left: 8px;
    }
}


@media only screen and (min-width: 426px) {
    body{
        background-color: rgb(82, 82, 82);
    }
    #wrapper{
        width: 100%;
        margin: auto;
        padding-top: 0;
    }
    #header{
        background-color: rgb(196, 182, 146);
        border-radius: 5px;
        width: 400px;
        padding: 5px;
        margin: auto;
    }
        #header h1, #header p:first-of-type{
            margin-left: 10px;
        }
   
    .reg_log{
        width: 400px;
        display: block;
        margin: 20px auto;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color:rgb(190, 227, 243);
        border-radius: 5px;
    }
    form{
        width: 355px;
        margin: auto;
    }
    input[type=submit]{
        margin-left: 220px;
    }
    
    hr{
        margin-top: 8px;
        width: 95%;
        margin-left: 8px;
    }
    
    #recent{
        width: 400px;
        margin: 20px auto;
        background-color: rgb(231, 220, 198);
        border-radius: 5px;
        padding: 5px;
    }
        #recent h2, #recent h3{
            margin-left: 20px;
        }
        #recent h3, #others h3:not(.title){
            margin-left: 50px;
            text-decoration: underline;
        }
        #recent p{
            margin-left: 35px;
            margin-right: 8px;
        }
    #others{
        width: 400px;
        margin: 20px auto;
        border-radius: 5px;
        padding: 5px;
    }
    #recent h3:not(.title), #others h3{
        margin-bottom: 10px;
    }
    #others h3:first-child{
        margin-left: 80px;
    }
}


@media (min-width: 768px) {

    #wrapper{
        width: 768px;
        height: 780px;
        margin: auto;
        padding-top: 10px;
    }
    #header{
        width: 700px;
        padding-left: 30px;
        margin-top: 10px;
    }
    .reg_log{
        width: 350px;
        /* height: 200px; */
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        margin-left: 15px;
    }
    
    form{
        width: 355px;
        margin: auto;
    }
    input[type=text], input[type=password], textarea{
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    textarea{
        width: 85%;
    }
    
    #add{
        width: 700px;
        border-radius: 5px;
        padding: 15px;
        margin-top: 20px;
    }
    #recent{
        width: 390px;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        margin-left: 15px;
    }
        #recent h3{
            margin-left: 130px;
        }
        
    #others{
        width: 305px;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        margin-left: 8px;
        padding: 10px;
    }
        #others form{
            margin-top: 20px;
        }
    #user{
        width: 500px;
        background-color: lightskyblue;
        margin: auto;
        padding: 15px;
        border-radius: 5px;
    }
}

@media (min-width: 1024px) {

    #wrapper{
        width: 1020px;
        height: 850px;
        display: block;
        margin: 20px auto;
        padding: 10px;
        box-shadow: 5px 5px 6px black;
    
    }
    #header{
        width: 910px;
        height: 60px;
        margin-bottom: 20px;
    }
    #add{
        width: 850px;
        padding-left: 80px;
    }
    .reg_log{
        width: 415px;
        margin-top: 20px;
        margin-left: 48px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }

    #recent{
        width: 550px;
        height: 400px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 36px;
        vertical-align: top;
        padding: 30px 2px 2px 2px;
    }
    #others{
        width: 350px;
        height: 400px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
        background-color:rgb(190, 227, 243);
        overflow: scroll;
        vertical-align: top;
        padding-top: 20px;
    }
        #recent h3, #others h3:not(.title){
            margin-bottom: 20px;
        }


}

@media only screen and (min-width: 1438px) {
    #header{
        width: 1300px;
    }
    #wrapper{
        width: 1400px;
        height: 900px;
        margin: 20px auto;
        padding: 10px;
        box-shadow: 5px 5px 6px black;
    
    }
    #recent{
        width: 750px;
        height: 400px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 32px;
        vertical-align: top;
        padding: 30px 2px 2px 2px;
    }
    #others{
        width: 550px;
        height: 400px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
        background-color:rgb(190, 227, 243);
        overflow: scroll;
        vertical-align: top;
        padding-top: 20px;
    }
        #recent h3, #others h3:not(.title){
            margin-bottom: 20px;
            font-size: 1.2em;
        }
        #recent h3{
            margin-left: 260px;
        }
        #others h3:not(.title){
            margin-left: 160px;
        }
        .reg_log{
            width: 415px;
            margin-top: 40px;
            margin-left: 128px;
            padding: 10px;
            display: inline-block;
            vertical-align: top;
        }
        .title{
            margin-left: 40px;
            font-size: 1.3em;
        }
    #add{
        padding: 20px 240px 20px 240px;
    }
}

@media only screen and (min-width: 1919px) {
    
    #wrapper{
        width: 1880px;
        height: 1040px; 
        display: block;
        margin: 10px auto;
        padding: 10px;
        box-shadow: 5px 5px 6px black;
        border: 1px solid rgb(196, 193, 193);
        font-size: 1.2em;
    
    }
    #header{
        width: 1670px;
        height: 90px;
        display: block;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    
    #recent{
        width: 1000px;
        height: 600px;
        display: inline-block;
        margin-top: 30px;
        margin-left: 85px;
        padding-left: 30px;
        padding-right: 20px;
        vertical-align: top;
    }
        #recent h3{
            margin-left: 20px;
        }
        #recent h2, #recent p{
            margin-left: 50px;
        }
    #others{
        width: 550px;
        height: 600px;
        display: inline-block;
        margin-top: 30px;
        margin-left: 90px;
        background-color:rgb(190, 227, 243);
        overflow: scroll;
        vertical-align: top;
        padding: 10px;
    }
        .title{
            font-size: 1.4em;
        }
        #others h3:first-child{
            margin-top: 20px;
            margin-left: 20px;
        }
    hr{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    #add{
        padding: 40px 430px 40px 440px;
    }
    .reg_log{
        width: 600px;
        height: 600px;
        margin-top: 20px;
        margin-left: 130px;
        padding: 20px;
        display: inline-block;
        vertical-align: top;
    }
}